---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager - Austin Core Legal</title>
    <!-- Explicitly define config file location to prevent 404s when requested from /admin or /admin/ -->
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>
  <body>
    <!-- Include the script that enables Netlify Identity on this page. -->
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script is:inline src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
  </body>
</html>
